.basic-table{
    border-collapse: collapse;
    font-size: 15px;
    width: 75vw;
    border-radius: 35px;
}

.basic-table thead tr{
    background-color: var(--color-first);
    text-align: left;
    color: var(--color-text-first);
    font-weight: bold;
    text-transform: uppercase;
}

.basic-table th,
.basic-table td{
    padding: 15px;
}


.basic-table tbody tr:hover{
    color: var(--color-first);
    cursor: pointer;
}